* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background-color: #00204a;
}

html {
    scroll-behavior: smooth;
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo img {
    height: 50px;
    width: auto;
    margin-left: 15px;
    margin-top: 15px;
}

.logo h1 {
    margin-top: 23px;
    margin-left: 14px;
    color: white;
}

.logo h1:hover {
    color: #dbfdfd;
    text-shadow: 0px 0px 30px #00bbf0;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.about {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: 7.5%;
}

.about h1 {
    margin-top: 10px;
    text-align: center;
    color: antiquewhite;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 10px;
}

.about .box {
    border-radius: 15px;
    height: 500px;
    padding: 20px;
    /* border: #00bbf0 2px solid; */
    background-color: #00bbf0;
    box-shadow: 10px 10px 5px 12px rgb(12, 10, 29);
}

.about p {
    font-size: 25px;
    font-weight: 530;
    color: #00204a;

}

@media (max-width: 768px) {

    .about h1 {
        font-size: 37px;
    }

    .about p {
        font-size: 15px;
    }
}