* {
    box-sizing: border-box;
    font-family: cursive;
}

body {
    margin: 0;
    background-color: #00204a;
    color: #eee;
}

.newdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    display: flex;
    flex-direction: row;
}

.logo img{
    height: 50px;
    width: auto;
    margin-left: 15px;
    margin-top: 15px;
}

.logo h1{
    margin-top: 23px;
    margin-left: 14px;
    color: white;
}

.logo h1:hover {
    color: #dbfdfd;
    text-shadow: 0px 0px 30px #00bbf0;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.name h1{
    font-size: 40px;
    color: #00bbf0;
    border-bottom: #00bbf0 2px solid;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 400px;
    background-color: #041935;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    height: 300px;
}

.container .num{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

label {
    font-size: 1.2em;
    /* margin-right: 10px; */
    padding-right: 20px;
}

label h2{
    font-size: 25px;
    font-weight: 400px;
}

input {
    font-size: 1em;
    padding: 5px;
    width: 50px;
}

button {
    display: block;
    background-color: #00bbf0;
    color: #041935;
    font-weight: bold;
    padding: 1rem;
    font-size: 2rem;
    margin-top: 1rem;
    border: none;
    width: 90%;
    cursor: pointer;
}

#otpResult {
    font-size: 1.5em;
    margin-top: 20px;
    background-color: #00204a;
    padding: 5px;
    color: #fff;
}