@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: cursive;
}

body {
    margin: 0;
    background-color:#00204a;
    color: #eee;
    min-height: 100vh;
}

.logo{
    display: flex;
    flex-direction: row;
}

.logo img{
    height: 50px;
    width: auto;
    margin-left: 15px;
    margin-top: 15px;
}

.logo h1{
    margin-top: 23px;
    margin-left: 14px;
    color: white;
}

.logo h1:hover {
    color: #dbfdfd;
    text-shadow: 0px 0px 30px #00bbf0;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.newdiv{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}

.name h1{
    font-size: 40px;
    color: #00bbf0;
    border-bottom: #00bbf0 2px solid;
}

.pw-container {
    border-radius: 10px;
    width: 400px;
    background-color: #041935;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.pw-header {
    padding: 1rem;
}

.pw {
    width: 100%;
    height: 70px;
    background-color: #00204a;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    padding: 1rem;
    /* overflow: auto; */
}

.pw button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 50%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
    background-color: #00bbf0;
    padding: 0.25rem 1rem;
    font-family: inherit;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
}

.pw:hover button {
    opacity: 1;
    transform: translate(0, -80%);
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.generate {
    display: block;
    background-color: #00bbf0;
    color: #00204a;
    font-weight: bold;
    padding: 1rem;
    font-size: 2rem;
    margin-top: 1rem;
    border: none;
    width: 100%;
    cursor: pointer;
}